.detailed-forecast {
  margin: 20px;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: inherit; /* Inherit text color for dark mode */
}

.table-container {
  max-height: 400px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto; /* Ensure the table is scrollable on small screens */
}

.detailed-forecast table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.detailed-forecast th,
.detailed-forecast td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.forecast-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.forecast-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forecast-buttons button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .detailed-forecast th,
  .detailed-forecast td {
    font-size: 14px;
    padding: 8px;
  }

  .detailed-forecast {
    padding: 10px;
  }
}

body.dark .detailed-forecast {
  background-color: #2a2a2a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark .detailed-forecast th,
body.dark .detailed-forecast td {
  color: #f2f2f2;
  border-color: #444;
}

body.dark .detailed-forecast th {
  background-color: #444;
}

body.dark .detailed-forecast td {
  background-color: #3a3a3a;
}
