.detailed-forecast {
    margin-top: 20px;
  }
  
  .forecast-day {
    margin-bottom: 20px;
  }
  
  .forecast-time {
    margin-bottom: 10px;
  }
  
  .forecast-time h5 {
    margin-bottom: 5px;
  }
  
  .forecast-time ul {
    list-style-type: none;
    padding: 0;
  }
  
  .forecast-time li {
    margin-bottom: 5px;
  }
  
  .forecast-time img {
    width: 40px;
    height: 40px;
  }
  