.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
  }
  
  .landing-header {
    margin-bottom: 20px;
  }
  
  .landing-logo {
    width: 150px;
    height: auto;
  }
  
  .landing-main {
    max-width: 800px;
  }
  
  .landing-main h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .landing-main p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .developer-info h2 {
    font-size: 2em;
    margin-top: 20px;
  }
  
  .developer-info p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .landing-actions {
    margin-top: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .github-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
  }
  
  .github-link:hover {
    color: #000;
  }
  
  .github-logo {
    width: 30px;
    height: auto;
    margin-right: 8px;
  }
  

  .project-inspiration,
.landing-features {
  margin-top: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
  gap: 1.5rem;
}

.feature {
  text-align: center; /* Center content within each feature box */
}

.feature-icon {
  width: 64px; /* Adjust icon size as needed */
  height: auto;
  margin-bottom: 1rem; 
}