.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Ensure suggestions are positioned relative to the search bar */
  width: 100%; /* Make the search bar take up the full width of its parent */
  max-width: 600px; /* Set a max-width to prevent it from becoming too wide */
}

.search-bar input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.search-bar button {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.search-error {
  border-color: red !important;
}

.search-bar.shake input.search-error {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@media (min-width: 600px) {
  .search-bar {
    flex-direction: row;
  }

  .search-bar button {
    margin-left: 10px;
    margin-top: 0;
  }
}

.react-autosuggest__suggestions-container {
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  z-index: 2;
  width: 100%; /* Ensure the width matches the input */
  box-sizing: border-box; /* Include padding in the element's total width */
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background: #ddd;
}

/* Dark mode adjustments */
body.dark .search-bar input {
  background-color: #333;
  color: #f2f2f2;
  border: 1px solid #444;
}

body.dark .search-bar button {
  background-color: #444;
}

body.dark .search-bar button:hover {
  background-color: #666;
}

body.dark .react-autosuggest__suggestions-container {
  background-color: #333;
  border: 1px solid #444;
}

body.dark .react-autosuggest__suggestion {
  color: #f2f2f2;
}

body.dark .react-autosuggest__suggestion--highlighted {
  background-color: #444;
}
