.summary-forecast {
    margin-top: 20px;
  }
  
  .summary-forecast table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .summary-forecast th,
  .summary-forecast td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .summary-forecast th {
    background-color: #f4f4f4;
  }
  @media (min-width: 600px) {
    .summary-forecast th, .summary-forecast td {
      font-size: 1em;
    }
  }