.App {
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container {
  margin-left: 10px;
}

.loading {
  font-size: 1.2em;
  color: #888;
}

.error-message {
  color: red;
  font-size: 1.2em;
  margin-top: 20px;
}
@media (min-width: 600px) {
  .search-container {
    flex-direction: row;
  }
  .checkbox-container {
    margin-left: 10px;
    margin-top: 0;
  }
}

body {
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

body.dark {
  background-color: #121212; /* Darker background */
  color: #f2f2f2;
}

body.light {
  background-color: #ffffff;
  color: #212529; /* Darker text for contrast */
}

.theme-toggle button {
  padding: 8px 16px;
  background-color: #212529; /* Dark button for contrast */
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.theme-toggle button:hover {
  background-color: #343a40; /* Slightly darker on hover */
}